.btn {
    width: 100%;
    border: none;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

.primary {
    background-color: #2d5da6;
    color: #fff;
}

.primary:hover {
    background-color: #1c4c95;
}

.secondary {
    background-color: #fff;
    color: #000;
}

.secondary:hover {
    background-color: #ddd;
}